
/* data table upper side paging & default searchbox hide */

.theme-default-table-wrapper .top {
    display: none;
}

.theme-default-table-wrapper .bottom {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.theme-default-table-wrapper .bottom .dataTables_length {
    margin-left: auto;
}

.theme-default-table-wrapper .bottom .dataTables_length label {
    margin-bottom: 0;
    margin-right: 10px;
}

.theme-default-table-wrapper .bottom .dataTables_info {
    padding: 0;
}
/* Blur effect on the DataTable */
.table-blur {
    filter: blur(5px); /* Adjust the blur value as needed */
    pointer-events: none; /* Disable interactions while blurred */
    opacity: 0.6; /* Optional: reduce opacity */
    transition: filter 0.3s ease, opacity 0.3s ease; /* Smooth transitions */
}
/*table.dataTable th,
table.dataTable td {
    white-space: nowrap;
    text-align: left;
    vertical-align: middle;
}

.dataTables_wrapper .dataTables_scrollHeadInner {
    width: 100% !important;
}

.dataTables_scrollHead thead th {
    padding: 10px;
}*/